html {
    background-color: #020659;
}
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #020659;
}
 
.container {
    max-width: 834px;
    min-width: 375px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #2104d9; /*#020659*/
    color: #f9f9f9;
 }
  
h1 {
    margin: 0;
    font-size: 1.25em;
    line-height: 2em;
    
}
h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
}

 Main h2 h3 {
    font-size: 1em;
    color: #590242;
    line-height: 2em;
    
}

p, dl, dd {
    font-size: 1em;
}

#sjazz {
    max-width: 834px;
    min-width: 375px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #030a8c;
    color: #ffffff;
}

#trending {
    background-color: #ffffff;
}

  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
  
nav ul li {
    margin-right: 20px;
    text-decoration: none;
}
  
  nav ul li:last-child {
    margin-right: 0;
}
  
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}
  
nav ul li a:hover {
    color: yellow;
}
  
.menu-toggle {
    display: none;
    cursor: pointer;
}
  
  @media (max-width: 834px) {
    .container {
      padding: 10px 20px;
}
  
    nav ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #f9f9f9;
      width: 100%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
nav ul li {
      margin: 10px 0;
    }
  
.menu-toggle {
      display: block;
    }
}

.scroll {
    display: flex;
    overflow-x: auto; 
    -webkit-overflow-scrolling: touch; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
  }
  
  .scroll section {
    flex: 0 0 auto; 
    width: 350px; 
    margin-right: 20px; 
    scroll-snap-align: start; 
  }
  @media screen and (min-width: 834px) {
    .scroll {
      display: flex;
      overflow-x: auto; 
      -webkit-overflow-scrolling: touch; 
      scroll-snap-type: x mandatory; 
      scroll-behavior: smooth; 
    }
  
    .scroll section {
      flex: 0 0 auto; 
      width: 350px; 
      margin-right: 20px; 
      scroll-snap-align: start; 
    }
  }
  
  /* For smaller screens */
  @media screen and (max-width: 375px) {
    .scroll {
      display: block; 
      overflow-x: hidden; 
    }
  
    .scroll section {
      width: 100%; 
      margin-bottom: 20px; 
    }
  }
dl {
    display: flex;
}
dt {
    padding-right: 5px;
}
audio {
    position: absolute;
    bottom: 150px;
    left: 5px;
}

.more {
    text-decoration: none;
    background-color: #590242;
    color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    display: block;
    text-align: center;
    margin: 10px 0px 30px 32px;
}

.more:hover {
    background-color: #020659;
}

audio::-webkit-media-controls-mute-button {
    background-color: #ffffff;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50%;
}

audio::-webkit-media-controls-enclosure {
    background-color: rgba (255, 255, 255, .5);
}

#trending ::-webkit-scrollbar {
    width: 15px;
}
#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;

}
#trending ::-webkit-scrollbar-thumb {
    background-color: #590242;
    border: 5px;

}
#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}
#playlists ::-webkit-scrollbar, #curated ::-webkit-scrollbar {
    width: 15px;
}
#playlists ::-webkit-scrollbar-track, #curated ::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px #020659;

}
#playlists ::-webkit-scrollbar-thumb, #curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}
#playlists ::-webkit-scrollbar-thumb:hover, #curated ::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
}

#more {
    display: flex;
    position: absolute;
    left: 1750px; 
    top: 74%; 
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color:#590242;
    color: #f9f9f9;
    font-weight: bolder;
}


#all-your {
    display: flex;
    position: absolute;
    left: 1750px; 
    top: 100%; 
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color:#590242;
    color: #f9f9f9;
    font-weight: bolder;
}

#more-curated {
    display: flex;
    position: absolute;
    left: 1750px; 
    top: 200%; 
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color:#590242;
    color: #f9f9f9;
    font-weight: bolder;
}


footer p {
    font-size: .75em;
}
footer {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    
}